<h1 class="text-primary">Welcome to Shop!</h1>
<button class="btn btn-success" onclick="alert('Bootstrap + jQuery working!')">Click me</button>
<p>Welcome! The date and time is <%= Time.now %></p>
  <img src="https://cdn.mos.cms.futurecdn.net/zW4aUdwaTRhoiwGGjN4qeN-1200-80.jpg" alt="the young master">
